{
  "openapi": "3.1.0",
  "info": {
    "title": "Monaco API",
    "description": "A RESTful API that allows you to interact with the Monaco Exchange. Provides endpoints for managing Events, Markets, Sessions, Wallets and Orders. To interact with the API, a client must have an App Id and an API Key to authenticate and create a session.",
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://production.api.monacoprotocol.xyz/",
      "description": "Production API Server"
    }
  ],
  "paths": {
    "/sessions": {
      "post": {
        "tags": [
          "Session Management"
        ],
        "summary": "Create session for a given credentials",
        "operationId": "createSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/refresh": {
      "post": {
        "tags": [
          "Session Management"
        ],
        "summary": "Refresh session for a given token",
        "operationId": "refreshSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fetch orders by filters. At least one of the following filter parameters must be supplied: ids, appIds, eventIds, marketIds, walletIds, references. Page size limit 500.",
        "operationId": "getOrders",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "list of order ids to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "appIds",
            "in": "query",
            "description": "list of apps to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "eventIds",
            "in": "query",
            "description": "list of events to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "marketIds",
            "in": "query",
            "description": "list of markets to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "walletIds",
            "in": "query",
            "description": "list of wallets to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "references",
            "in": "query",
            "description": "list of references to filter by - requires appId to be provided also",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "statuses to filter by - valid values to choose are as follows:\n<ul>\n    <li> Cancelled - Orders that have not matched and have been cancelled either on request or automatically</li>\n    <li> Matched - Orders that have been matched, either fully or partially, where the remaining unmatched stake has been cancelled, either on request or automatically</li>\n    <li> PartiallyMatched - Orders that have been partially matched, and the remaining unmatched portion might still be matched</li>\n    <li> Unmatched - Orders that have not yet been matched, and the remaining unmatched portion might still be matched</li>\n    <li> Won - Previously Matched orders that have been deemed to have Won at the time of market settlement</li>\n    <li> Lost - Previously Matched orders that have been deemed to have Lost at the time of market settlement</li>\n    <li> Voided - All orders belonging to markets that have been voided</li>\n</ul>\n",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "The status of an order can be one of the following\n<ul>\n    <li> Cancelled - The order was not matched and has been cancelled either on request or automatically</li>\n    <li> Matched - The order has been matched, either fully, or partially where the remaining unmatched stake has been cancelled, either on request or automatically</li>\n    <li> PartiallyMatched - The order has been partially matched, and the remaining unmatched portion might still be matched</li>\n    <li> Unmatched - The order has not yet been matched, and the remaining unmatched portion might still be matched</li>\n    <li> Won - The market has been settled and this previously Matched order has been deemed to have Won</li>\n    <li> Lost - The market has been settled and this previously Matched order has been deemed to have Lost</li>\n    <li> Voided - The market has been voided so this order has been voided</li>\n</ul>\n",
                "enum": [
                  "Cancelled",
                  "Matched",
                  "PartiallyMatched",
                  "Unmatched",
                  "Won",
                  "Lost",
                  "Voided"
                ]
              }
            }
          },
          {
            "name": "fromStake",
            "in": "query",
            "description": "beginning of the stake range filter (inclusive)",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "toStake",
            "in": "query",
            "description": "end of the stake range filter (inclusive)",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fromCreatedAt",
            "in": "query",
            "description": "beginning of the creation date range filter (inclusive)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toCreatedAt",
            "in": "query",
            "description": "end of the creation date range filter (inclusive)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "matchBehavior",
            "in": "query",
            "description": "Optional - How any unmatched portion of an order is treated:\n<ul>\n    <li>RetainUnmatched - unmatched portion persists as an offer (default)</li>\n    <li>CancelUnmatched - unmatched portion is cancelled</li>\n</ul>\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "RetainUnmatched",
                "CancelUnmatched"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedOrderResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create order",
        "operationId": "createOrder",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/cancel": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel order by id",
        "operationId": "cancelOrder",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/cancel": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel orders owned by the caller by event and/or market; skips invalid markets/orders",
        "operationId": "cancelOrders",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "walletIds",
            "in": "query",
            "description": "list of wallets to filter the orders to be cancelled",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "eventIds",
            "in": "query",
            "description": "list of event IDs to filter the orders to be cancelled",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "marketIds",
            "in": "query",
            "description": "list of market IDs to filter the orders to be cancelled",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "orderIds",
            "in": "query",
            "description": "list of order IDs to filter the orders to be cancelled",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCancelOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChunkOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChunkOrderResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChunkOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/batch": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create multiple orders",
        "operationId": "createOrders",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Returns a paginated list of markets based on the provided filter and ordering criteria. This can get specific known markets (by market ID), or markets based on other criteria such as event ID(s) and/or market type and status etc.",
        "operationId": "getMarkets",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Optional list of specific IDs to fetch",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "ownerAppIds",
            "in": "query",
            "description": "Optional list of app IDs to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "eventIds",
            "in": "query",
            "description": "Optional list of event IDs to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "marketTypeIds",
            "in": "query",
            "description": "Optional list of market type IDs to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "currencyIds",
            "in": "query",
            "description": "Optional list of currency IDs to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Optional list of market statuses to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Initializing",
                  "Open",
                  "Locked",
                  "Settling",
                  "Settled",
                  "Voiding",
                  "Voided",
                  "Closed"
                ]
              },
              "uniqueItems": true
            }
          },
          {
            "name": "inPlayStatuses",
            "in": "query",
            "description": "Whether the markets are currently in-play or not. Returns all if not set",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "NotApplicable",
                  "PrePlay",
                  "InPlay"
                ]
              },
              "uniqueItems": true
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "The inclusive beginning of a date-time range filter. If not provided, no restriction will be applied to the beginning of the range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDateTime",
            "in": "query",
            "description": "The exclusive end of a date-time range filter. If not provided, no restriction will be applied to the end of the range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "published",
            "in": "query",
            "description": "Optional filter as to whether the market is published or not",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Create market",
        "operationId": "createMarket",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/market-types": {
      "get": {
        "tags": [
          "Market Types"
        ],
        "summary": "Fetch all market types",
        "operationId": "getMarketTypes",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Market Types"
        ],
        "summary": "Create market type",
        "operationId": "createMarketType",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/heartbeat": {
      "get": {
        "tags": [
          "Heartbeat Management"
        ],
        "summary": "Fetch heartbeat",
        "operationId": "getHeartbeat",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Heartbeat Management"
        ],
        "summary": "Update heartbeat last received timestamp",
        "operationId": "updateHeartbeatLastReceived",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          }
        }
      }
    },
    "/heartbeat/update": {
      "post": {
        "tags": [
          "Heartbeat Management"
        ],
        "summary": "Update heartbeat configuration",
        "operationId": "updateHeartbeat",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHeartbeatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Fetch events by ids, categories, sub-categories, event groups and/or from/yo dates",
        "operationId": "getEvents",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "list of event ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "ownerAppIds",
            "in": "query",
            "description": "List of IDs of the apps that created the Events",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "categoryIds",
            "in": "query",
            "description": "list of category ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "subcategoryIds",
            "in": "query",
            "description": "list of sub-category ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "eventGroupIds",
            "in": "query",
            "description": "list of event group ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "starting",
            "in": "query",
            "description": "Live, Today, Later, Range",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Live",
                "Today",
                "Later",
                "Range"
              ]
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "starting from date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDateTime",
            "in": "query",
            "description": "starting to date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Whether the event is active or not",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEventResponse"
                }
              }
            }
          }
        }
      }
    },
    "/event-groups": {
      "get": {
        "tags": [
          "Event Groups"
        ],
        "summary": "Fetch all event groups",
        "operationId": "getAllEventGroups",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "subcategoryIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventGroupResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventGroupResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Event Groups"
        ],
        "summary": "Create event group",
        "operationId": "createEventGroup",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventGroupResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventGroupResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventGroupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "Event Categories"
        ],
        "summary": "Fetch all event categories",
        "operationId": "getAllCategories",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Event Categories"
        ],
        "summary": "Create event category",
        "operationId": "createCategory",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          }
        }
      }
    },
    "/apps": {
      "post": {
        "tags": [
          "App Management"
        ],
        "summary": "Create app",
        "operationId": "createApp",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{id}/commission-rates": {
      "get": {
        "tags": [
          "App Management"
        ],
        "summary": "Fetch commission rates",
        "operationId": "getCommissionRates",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "app id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommissionRateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommissionRateResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommissionRateResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "App Management"
        ],
        "summary": "Fetch commission rates",
        "operationId": "updateCommissionRate",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "app id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppCommissionRateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api-keys": {
      "post": {
        "tags": [
          "API Key Management"
        ],
        "summary": "Create api key",
        "operationId": "createApiKey",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAPIKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api-keys/rename": {
      "post": {
        "tags": [
          "API Key Management"
        ],
        "summary": "Rename api key",
        "operationId": "rename",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameAPIKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api-keys/deactivate": {
      "post": {
        "tags": [
          "API Key Management"
        ],
        "summary": "Deactivate api key",
        "operationId": "deactivate",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeactivateAPIKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/{id}": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Fetch a wallet by id",
        "description": "Fetch a wallet by id",
        "operationId": "getWallet",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "wallet id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/{id}/transactions": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Fetch a list of transactions",
        "description": "Fetch a list of transactions for the current user, filtered by the provided walletFilter param",
        "operationId": "getWalletTransactions",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "wallet id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromCreatedAt",
            "in": "query",
            "description": "Filter transactions created after this timestamp (inclusive)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toCreatedAt",
            "in": "query",
            "description": "Filter transactions created before this timestamp (inclusive)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedTransactionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedTransactionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedTransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/{id}/positions": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Get Market Positions",
        "description": "Fetch a list of market positions for the specified wallet, filtered by market ids",
        "operationId": "getMarketPositions",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "wallet id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "marketIds",
            "in": "query",
            "description": "List of market ids to filter positions by",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketPositionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketPositionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketPositionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketPositionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/{id}/metrics": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Get Wallet Account Metrics",
        "description": "Fetch a set of wallet account metrics for given wallet-id and currency-id",
        "operationId": "getMetrics",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "wallet id for which to fetch metrics",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currencyId",
            "in": "query",
            "description": "currency id for which to fetch metrics",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "starting from date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDateTime",
            "in": "query",
            "description": "starting to date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletMetricsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletMetricsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletMetricsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletMetricsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/{id}/deposits/addresses": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Fetch / create a deposit address",
        "description": "Fetch / create a deposit address for given wallet id and currency-id",
        "operationId": "getDepositAddress",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The destination wallet id for the deposit address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currencyId",
            "in": "query",
            "description": "The currency id for the deposit address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DepositAddressResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DepositAddressResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DepositAddressResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trades": {
      "get": {
        "tags": [
          "Trades"
        ],
        "summary": "Fetch trades by markets, wallets and/or orders",
        "operationId": "getTrades",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "marketIds",
            "in": "query",
            "description": "list of market ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "walletIds",
            "in": "query",
            "description": "list of wallet ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "orderIds",
            "in": "query",
            "description": "list of order ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fromCreatedAt",
            "in": "query",
            "description": "beginning of the creation date range filter (inclusive)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toCreatedAt",
            "in": "query",
            "description": "end of the creation date range filter (inclusive)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedTradeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedTradeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trades/{id}": {
      "get": {
        "tags": [
          "Trades"
        ],
        "summary": "Fetch a trade by ID",
        "operationId": "getTrade",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TradeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TradeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subcategories/{id}": {
      "get": {
        "tags": [
          "Event Subcategories"
        ],
        "summary": "Fetch subcategory by id",
        "operationId": "getSubcategoryById",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SubcategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SubcategoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Exchange status",
        "operationId": "status",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AppStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fetch order by id",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/trades": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fetch trades by order",
        "operationId": "getTradesByOrderId",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TradeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TradeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/settled": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fetch orders settled in date range, filtered by wallet (settled orders are those of status 'Won', 'Lost', or 'Voided'). Page size limit 500.",
        "operationId": "getOrdersSettledBetween",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "fromSettledAt",
            "in": "query",
            "description": "beginning of the settled date range filter",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toSettledAt",
            "in": "query",
            "description": "end of the settled date range filter",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "walletId",
            "in": "query",
            "description": "wallet to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/by-reference/{reference}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fetch order by reference",
        "operationId": "getOrderByReference",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{id}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Fetch market by id",
        "operationId": "getMarket",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{id}/prices": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Fetch market prices",
        "operationId": "getMarketPrices",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeEmpty",
            "in": "query",
            "description": "also include any prices that have previously been matched against but don't currently have any available liquidity",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLiquidityResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLiquidityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{id}/prices-v2": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Fetch market prices",
        "operationId": "getMarketPricesV2",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLiquiditiesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLiquiditiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{id}/positions": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Fetch market positions by wallets",
        "operationId": "getMarketPositions_1",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletIds",
            "in": "query",
            "description": "list of wallet ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketPositionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketPositionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{id}/orders": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Fetch market orders by wallets. Page size limit 500",
        "operationId": "getMarketOrders",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletIds",
            "in": "query",
            "description": "list of wallet ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/by-reference/{source}/{reference}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Fetch market by external reference",
        "operationId": "getByReference",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "source",
            "in": "path",
            "description": "external reference source, e.g: BF for Betfair",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "path",
            "description": "external reference id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/market-types/{id}": {
      "get": {
        "tags": [
          "Market Types"
        ],
        "summary": "Fetch market type by id",
        "operationId": "getMarketType",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/market-prices": {
      "get": {
        "tags": [
          "MarketPrices"
        ],
        "summary": "Fetch market prices",
        "operationId": "getMarketsPrices",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "marketIds",
            "in": "query",
            "description": "market ids",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeEmpty",
            "in": "query",
            "description": "also include any prices that have been previously matched against but don't currently have any available liquidity",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLiquiditiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLiquiditiesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLiquiditiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/market-prices/ladder": {
      "get": {
        "tags": [
          "MarketPrices"
        ],
        "summary": "Fetch market price ladder",
        "operationId": "getMarketPriceLadder",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketPriceLadderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketPriceLadderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external-reference-sources": {
      "get": {
        "tags": [
          "external-reference-sources-controller"
        ],
        "operationId": "getExternalSources",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalReferenceSourcesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/{id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Fetch event by id",
        "operationId": "getEvent",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "event id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
[...]
